[package]
name = "bb8"
version = "0.5.0"
authors = ["Dirkjan Ochtman <dirkjan@ochtman.nl>", "Kyle Huey <khuey@kylehuey.com>"]
description = "Full-featured async (tokio-based) connection pool (like r2d2)"
license = "MIT"
repository = "https://github.com/djc/bb8"
edition = "2018"
workspace = ".."
readme = "../README.md"

[dependencies]
async-trait = "0.1"
futures-channel = "0.3.2"
futures-util = { version = "0.3.2", default-features = false, features = ["channel"] }
parking_lot = "0.11"
tokio = { version = "0.2", features = ["rt-core", "time", "parking_lot"] }

[dev-dependencies]
tokio = { version = "0.2", features = ["macros"] }
