[package]
name = "bb8-postgres"
version = "0.4.0"
authors = ["Kyle Huey <khuey@kylehuey.com>"]
description = "r2d2-postgres, but for async tokio based connections"
license = "MIT"
repository = "https://github.com/khuey/bb8"
edition = "2018"

[features]
"with-bit-vec-0_6" = ["tokio-postgres/with-bit-vec-0_6"]
"with-chrono-0_4" = ["tokio-postgres/with-chrono-0_4"]
"with-eui48-0_4" = ["tokio-postgres/with-eui48-0_4"]
"with-geo-types-0_4" = ["tokio-postgres/with-geo-types-0_4"]
"with-serde_json-1" = ["tokio-postgres/with-serde_json-1"]
"with-uuid-0_8" = ["tokio-postgres/with-uuid-0_8"]

[dependencies]
async-trait = "0.1"
bb8 = { version = "0.4.0", path = "../bb8" }
tokio = { version = "0.2", features = ["rt-core", "macros"] }
tokio-postgres = "0.5.1"

[dev-dependencies]
futures-util = "0.3.2"
hyper = { version = "0.13" }
tokio = { version = "0.2", features = ["rt-threaded"] }
