[package]
name = "bb8-postgres"
version = "0.3.1"
authors = ["Kyle Huey <khuey@kylehuey.com>"]
description = "r2d2-postgres, but for async tokio based connections"
license = "MIT"
repository = "https://github.com/khuey/bb8"

[features]
"with-bit-vec-0_5" = ["tokio-postgres/with-bit-vec-0_5"]
"with-chrono-0_4" = ["tokio-postgres/with-chrono-0_4"]
"with-eui48-0_4" = ["tokio-postgres/with-eui48-0_4"]
"with-geo-types-0_4" = ["tokio-postgres/with-geo-types-0_4"]
"with-serde_json-1" = ["tokio-postgres/with-serde_json-1"]
"with-uuid-0_7" = ["tokio-postgres/with-uuid-0_7"]

[dependencies]
bb8 = "0.3"
futures = "0.1"
tokio = "0.1"
tokio-postgres = "0.4.0-rc.3"

[dev-dependencies]
futures-state-stream = "0.2"
hyper = "0.12"
